.index-container{
  display: flex;
  height: 94vh;
  width: 100vw;
  padding-top: 40px;
}

.calendar-outer{
  width: 75%;
  padding: 0 10px;
}

.calendar-title{
  font-size: 30px;
}

.calendar-inner{
  margin-top: 60px;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}

.categorized-expenses-list-outer{
  width: 25%;
  padding: 0 10px 25px 10px ;
  font-size: 18px;
}

.categorized-expenses-list-title{
  padding-top: 30px;
  height: 10%;
  text-align: center;
}

.categorized-expenses-list-inner{
  height: 90%;
  overflow: scroll;
}