.expense-new-container{
  height: 94vh;
  width: 100vw;
}

.expense-new-upper-container{
  height: 20%;
  font-size: 25px;
  text-align: center;
}

.expense-new-date{
  padding: 20px 0;
}

.expense-new-lower-container{
  height: 80%;
  display: flex;
  padding: 0 10px 10px 10px;
}

.registered-expenses-list{
  height: 100%;
  width: 80%;
  overflow: scroll;
}

.expense-edit-destroy-forms{
  display: flex;
  justify-content: center;
}

.expense-destroy-form{
  margin-left: 20px;
}

.register-expense-form{
  height: 100%;
  width: 20%;
  padding: 30px 20px;
  background-color: lightgrey;
}

.form-input{
  margin-bottom: 30px;
}

.form-submit{
  text-align: center;
}

.post-message{
  text-align: center;
}