.devise-title{
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
}

.registrations-form{
  margin: 0 auto;
  width: 50vw;
}

#formGroupExampleInput{
  height: 200px;
}

.registration-submit{
  text-align: center;
  margin: 20px 0;
}

