.comment-content{
  text-align: center;
}

#show-user-time{
  margin-left: 15px;
}

.comments-content{
  background-color: whitesmoke;
  width: 598px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 15px;
}

.comment-content{
  margin: 15px 0;
}

.comment-upper-content{
  display: flex;
}

.comment-created_at{
  margin-left: 15px;
  color: gray;
}

.comment-lower-content{
  display: flex;
}

.comment-text{
  width: 80%;
  text-align: left;
}

.comment-destroy-button{
  width: 20%;
}

#comment-form-submit{
  margin-top: 15px;
}