.show-tweet-outer{
  width: 50vw;
  margin: 20px auto;
}

.comment-outer{
  background-color: whitesmoke;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  padding: 15px 15px;
}

.comment-inner{
  margin: 15px 0;
}

.comment-upper-container{
  display: flex;
}

.comment-date{
  margin-left: 15px;
  color: gray;
}

.comment-lower-container{
  display: flex;
}

.comment-text{
  width: 80%;
  text-align: left;
}

.comment-destroy-form{
  width: 20%;
}

#comment-form-submit{
  margin-top: 15px;
}